.DS_Store
Thumbs.db
*.swp
~$*

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/

dist/
build/
out/
*.exe
*.dll
*.so
*.o
*.a

*.log
npm-debug.log*


.env
.env.local
.env.development
.env.test
.env.production

jspm_packages/
bower_components/

.cache/



*.class
*.jar
*.war
*.ear
hs_err_pid*

